{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
  {% if is_codecon %}
    <div class="alert alert-warning" role="alert">
      PS: O site não funciona corretamente dentro do Gather por conta dos
      cookies. Recomendamos utilizar o navegador:
      <a href={{ base_url }}>{{ base_url }}</a>
    </div>
  {% endif %}
  <h1>Agent</h1>
  <form action="{% url 'agent_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>

{% endblock %}
