{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
{% load humanize %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="row align-items-end">
        <div class="col">
          <h1>{{ object.name }}</h1>
        </div>

        <div class="col">
        {% if object.owner == request.user %}
          <a href={% url 'agent_edit' object.id %} class="align-text-bottom">Edit</a>
        {% endif %}
        </div>
      </div>

      <table class="table table-hover table-striped table-sm">
        <tbody>
          <tr>
            <td> ID </td>
            <td> {{ object.id }} </td>
          </tr>

          <tr>
            <td> Hash </td>
            <td> {{ object.file_hash }} </td>
          </tr>

          <tr>
            <td> Owner </td>
            <td>
              <a href={% url 'user_detail' agent.owner.id %}>
                {{ agent.owner.username }}
              </a>
            </td>
          </tr>

          <tr>
            <td> Game </td>
            <td>
              <a href={% url 'game_detail' object.game.id %}>
                {{ object.game.name }}
              </a>
            </td>
          </tr>

          <tr>
            <td> Wins </td>
            <td> {{ object.wins }} </td>
          </tr>

          <tr>
            <td> Loses </td>
            <td> {{ object.loses }} </td>
          </tr>

          <tr>
            <td> Draws </td>
            <td> {{ object.draws }} </td>
          </tr>

          <tr>
            <td> Win ratio </td>
            <td> {{ object.pretty_win_ratio }} </td>
          </tr>

          <tr>
            <td> Elo Rating </td>
            <td> {{ object.elo }} </td>
          </tr>

          <tr>
            <td> Games Played </td>
            <td> {{ object.games_played_count }} </td>
          </tr>

          <tr>
            <td> Created </td>
            <td>
              {{ object.created_at | date }}
              ( {{ object.created_at | naturaltime }} )
            </td>
          </tr>

          <tr>
            <td> Most recent game </td>
            <td>
              {{ object.most_recent_match.ran_at | date:"Y-m-d H:i:s" }}
              ( {{ object.most_recent_match.ran_at | naturaltime }} )
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3> Season Elo rating </h3>
      <img src={% url 'agent_elo_plot' object.id %}>
      </img>
    </div>
  </div>

  <h3> Recent Matches </h3>
  <table class="table table-hover table-striped table-sm">
    <thead>
      <th scope="col">  </th>
      <th scope="col"> Agent 1 </th>
      <th scope="col"> Agent 2 </th>
      <th scope="col"> Result </th>
      <th scope="col"> Duration </th>
      <th scope="col"> When </th>
      <th scope="col"> Replay </th>
    </thead>
    <tbody>
      {% for match in object.matches.all.played.by_ran_at.top_n %}
      <tr>
        <td> <a href={% url 'match_detail' match.id %}> View </a> </td>
        <td> {{ match.player1_elo_change | default_if_none:"-" }}
          <a href={% url 'agent_detail' match.player1.id %}>
            {{ match.player1.name }}
          </a>
        </td>
        <td> {{ match.player2_elo_change | default_if_none:"-" }}
          <a href={% url 'agent_detail' match.player2.id %}>
            {{ match.player2.name }}
          </a>
        </td>

        <td> {{ match.pretty_result }} </td>

        {% if match.duration %}
          <td> {{ match.duration | floatformat:-2 }}s </td>
        {% else %}
          <td> - </td>
        {% endif %}

        {% if match.ran %}
          <td> {{ match.ran_at | date:"Y-m-d H:i:s" }} </td>
        {% else %}
          <td> - </td>
        {% endif %}

        {% if match.ran and match.replay %}
          <td>
            <a href={{ match.replay.url }}> Download </a> /
            <a href={% url 'match_replay' match.id %}> View </a>
          </td>
        {% else %}
          <td> - </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div>

{% endblock %}
