{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>{{ object.name }}</h1>
      <p>{{ object.id }}</p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <p>Wins: {{ object.wins }}</p>
    </div>
    <div class="col-md-auto">
      <p>Loses: {{ object.loses }}</p>
    </div>
    <div class="col col-lg-2">
      <p>Draws: {{ object.draws }}</p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <p>Score: {{ object.score }}</p>
    </div>
    <div class="col col-lg-2">
      <p>Win Ratio: {{ object.pretty_win_ratio }}% </p>
    </div>
    <div class="col col-lg-2">
      <p>Elo: {{ object.elo }}</p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
      <p>Created: {{ object.created_at|date }}</p>
    </div>

    <div class="col col-lg-2">
      <a href={% url 'agent_edit' object.id %}>Edit</a>
  </div>
</div>

{% endblock %}
