{% extends 'base.html' %}

{% block title %}Agents{% endblock %}

{% block content %}
<h1> Agents </h1>

<div>
  <table class="table table-hover table-striped table-sm">
    <thead>
      <th scope="col"> Name </th>
      <th scope="col"> Elo Rating </th>
      <th scope="col"> Wins </th>
      <th scope="col"> Loses </th>
      <th scope="col"> Draws </th>
      <th scope="col"> Score </th>
      <th scope="col"> Games </th>
      <th scope="col"> Files </th>
    </thead>
    <tbody>
      {% for agent in agents %}
      <tr>
        <td>
          <a href={% url 'agent_edit' agent.id %}>
            {{ agent.name }}
          </a>
        </td>

        <td>{{ agent.elo }}</td>
        <td>{{ agent.wins }}</td>
        <td>{{ agent.loses }}</td>
        <td>{{ agent.draws }}</td>
        <td>{{ agent.score }}</td>
        <td> - </td>

        <td>
          {% if agent.download_url %}
            <a href={{ agent.download_url }}>Download</a>
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div>

{% endblock %}
