{% extends 'base.html' %}

{% block title %}Agents{% endblock %}

{% block content %}

{% for game in games %}
  <h1> Agents for {{ game.pretty_name}} </h1>

  <div>
    <table class="table table-hover table-striped table-sm">
      <thead>
        <th scope="col"> Name </th>
        <th scope="col"> Owner </th>
        <th scope="col"> Elo Rating </th>
        <th scope="col"> Win Ratio </th>
        <th scope="col"> Wins </th>
        <th scope="col"> Loses </th>
        <th scope="col"> Draws </th>
        <th scope="col"> Games </th>
      </thead>
      <tbody>
        {% for agent in game.agents.by_elo %}
        <tr>
          <td>
            <a href={% url 'agent_detail' agent.id %}>
              {{ agent.name }}
            </a>
          </td>

          <td>
            <a href={% url 'user_detail' agent.owner.id %}>
              {{ agent.owner.username }}
            </a>
          </td>

          <td>{{ agent.elo }}</td>
          <td>{{ agent.pretty_win_ratio }}%</td>
          <td>{{ agent.wins }}</td>
          <td>{{ agent.loses }}</td>
          <td>{{ agent.draws }}</td>
          <td>{{ agent.games_played_count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <div>
{% endfor %}

{% if user.is_authenticated %}
  <p>
    <a href='{% url 'agent_create' %}'> New Agent </a>
  </p>
{% endif %}

{% endblock %}
