{% extends 'base.html' %}

{% block title %} Tournaments {% endblock %}

{% block content %}
<h1> Tournaments </h1>

<div>
  <table class="table table-hover table-striped table-sm">
    <thead>
      <th scope="col"> Name </th>
      <th scope="col"> Season </th>
      <th scope="col"> Game </th>
      <th scope="col"> Active </th>
      <th scope="col"> Mode </th>
      <th scope="col"> Matches left </th>
      <th scope="col"> Created At </th>
    </thead>
    <tbody>
      {% for tournament in tournaments %}
      <tr>
        <td>
          <a href={% url 'tournament_detail' tournament.id %}>
            {{ tournament.name }}
          </a>
        </td>
        <td> {{ tournament.season.name }} </td>
        <td> {{ tournament.game.name }} </td>
        <td> {{ tournament.is_active | yesno:"Yes,No" }} </td>
        <td> {{ tournament.mode }} </td>
        <td> {{ tournament.pending_matches }} </td>
        <td> {{ tournament.created_at|date:"Y-m-d H:i:s" }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<div>

{% endblock %}
