{% extends 'debug/base_debug.html' %}

{% block debug %}

{% load humanize %}

<div>
    <hr class="my-4">
    <h5 class="text-secondary">Match_ids: </h5>
    <div class="list-group mb-3">
        {% for match in matches %}
            <a href={% url 'match_detail' match.id %} class="list-group-item list-group-item-action text-danger">"{{ match.id }}"
              --
              <span>Created: {{ match.created_at | naturaltime }} </span>
            </a>
        {% endfor %}
      </div>
</div>

{% endblock %}
