{% extends 'base.html' %}

{% load elo %}

{% block title %} Matches {% endblock %}

{% block content %}

<h1> Matches </h1>

<div>
  <table class="table table-hover table-striped table-sm">
    <thead>
      <th scope="col">  </th>
      <th scope="col"> Agent 1 </th>
      <th scope="col"> Agent 2 </th>
      <th scope="col"> Result </th>
      <th scope="col"> Tournament </th>
      <th scope="col"> Season </th>
      <th scope="col"> Game </th>
      <th scope="col"> When </th>
      <th scope="col"> Replay </th>
    </thead>
    <tbody>
      {% for match in matches %}
      <tr>
        <td> <a href={% url 'match_detail' match.id %}> View </a> </td>
        <td> {% elo_change match.player1_elo_change %}
          <a href={% url 'agent_detail' match.player1.id %}>
            {{ match.player1.name }}
          </a>
        </td>
        <td> {% elo_change match.player2_elo_change %}
          <a href={% url 'agent_detail' match.player2.id %}>
            {{ match.player2.name }}
          </a>
        </td>
        <td> {{ match.pretty_result }} </td>
        <td>
          {% if match.tournament %}
          <a href={% url 'tournament_detail' match.tournament.id %}>
            {{ match.tournament.name }}
          </a>
          {% else %}
          <span> - </span>
          {% endif %}
        </td>

        <td>
          <a href={% url 'season_detail' match.season.id %}>
            {{ match.season.name }}
          </a>
        </td>

        <td>
          <a href={% url 'game_detail' match.game.id %}>
            {{ match.game.name }}
          </a>
        </td>

        <td> {{ match.ran_at | date:"Y-m-d H:i:s" }} </td>

        {% if match.ran and match.replay %}
          <td>
            <a href={{ match.replay.url }}> Download </a> /
            <a href={% url 'match_replay' match.id %}> View </a>
          </td>
        {% else %}
          <td> - </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
    {% include "pagination.html" with list_items=matches %}
<div>

{% endblock %}
