{% extends 'base.html' %}
{% load static %}

{% block title %} Match Replay {% endblock %}

{% block content %}

<br>

<div class="container">
  <div class="row">
    <div class="col">
    </div>

    <div class="col">
      <div
        id="replay-canvas-container"
        data-match-id={{ match_id }}
        data-match-replay-id={{ match_replay_url }}
      >
      </div>
    </div>

    <div class="col">
    </div>
  </div>
</div>

<script src="{{ replay_js_bundle_url }}"></script>

{% endblock %}
