{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container py-5">
  {% comment %}
  <h1>Colosseum</h1>
  {% endcomment %}
  <p>
    Hi, welcome to the Colosseum!
  </p>
  <p>
    Colosseum is a modular framework for automated tournaments between AI
    Agents. It was born out of passion. I wanted it to be what I wish I had
    during college: A place where I can test myself against others, do AI,
    compete and have fun.
  </p>
  <p>
    Currently Colosseum is a functional work in progress. It is 100% automated.
    People can upload their agents, and the agents are automatically paired
    against each other in multiple competition formats. Their ratings are
    updated accordingly. Replays of the games can be downloaded and visualized
    with a renderer.
  </p>
  <p>
    The project is fully opensource and available on
    <a href=https://github.com/h3nnn4n/colosseum>github</a> and
    <a href=https://gitea.h3nnn4n.me/h3nnn4n/colosseum>gitea</a>.
  </p>

  <p>
    In the past 24 hours we had
    <a href={% url 'agents' %}>{{ n_agents }}</a> agents competing in
    <a href={% url 'matches' %}>{{ games_ran_in_the_last_day }}</a> matches.
    In the last hour {{ games_ran_in_the_last_hour }} matches ran, and in the
    last minute it was {{ games_ran_in_the_last_minute }}.
  </p>
  <img src={% url 'matches_per_day' %}></img>
</div>

{% endblock %}
