{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!

  <table>
    <thead>
      <td> ID </td>
      <td> Name </td>
    </thead>
    <tbody>
      {% for agent in agents %}
      <tr>
        <td>{{ agent.id }}</td>
        <td>{{ agent.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><a href="{% url 'agent_upload' %}">New Agent</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  or
  <a href="{% url 'register' %}">Register</a>
{% endif %}
{% endblock %}
