{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">

        {% comment %}
        <h1>
          <img src="{% static 'images/logo_tight.svg' %}" height="45" alt="Colosseum">
          Colosseum
        </h1>
        {% endcomment %}
        <p>
          Hi, welcome to the Colosseum!

          {% if not user.is_authenticated %}
            To participate please
            <a href="{% url 'register' %}">Register</a>
            or
            <a href="{% url 'login' %}">Login</a>.
          {% endif %}
        </p>
        <p class="text-justify">
          Colosseum is a fully automated platform where agents compete against
          each other on multiple games. Games run 24/7, non stop. Matches are
          organized in tournaments, having different formats, and tournaments
          are grouped in seasons.
        </p>
        <p class="text-justify">
          Agents can be implemented using whatever technology and programming
          language that the author wants. It can be a simple script applying an
          static strategy, it could be using a deep learning model,
          reinforcement learning, etc. It is even possible to have the logic
          hosted on a webservice and run it remotly, to get around resource
          limitations.  The only constraints are the rules of the game, which
          usually have a limit on how fast the agent has to respond.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="row">
          <div class="col"><hr></div>
          <div class="col-auto">
            Sample Agents
          </div>
          <div class="col"><hr></div>
        </div>

        <p class="text-justify">
          We have a collection of sample agents for all the games available on:
          <a href="https://github.com/h3nnn4n/colosseum_agents">colosseum_agents</a>.
          They are <a href="https://opensource.org/licenses/MIT">MIT licensed</a>.
          Feel free to modify them and use it as an starting point.
        </p>
      </div>

      <div class="col">

        <div class="row">
          <div class="col"><hr></div>
          <div class="col-auto">
            Getting Started
          </div>
          <div class="col"><hr></div>
        </div>

        <p class="text-justify">
          To get started please it is necessary to have an account. If you
          don't have one you can create one
          <a href="{% url 'register' %}">here</a>.
        </p>

        <p class="text-justify">
          Next, you need an agent. The agent is the robot program that will
          play the games, based on some strategy that it was programmed to
          follow. We have some basic agents available in our repository
          <a href="https://github.com/h3nnn4n/colosseum_agents">colosseum_agents</a>
          to use as a reference.
        </p>

        <p class="text-justify">
          Alternativelly, you can start from scratch using one of our SDK's
          from our repository:
          <a href="https://github.com/h3nnn4n/colosseum_sdk">colosseum_sdk</a>.
          It is also possible to interface directly with Colosseum. The
          communication
          <a href="https://colosseum.website/wiki/protocol/">protocol</a>
          is quite simple and can be implemented in any language.
          Each game has it's own set of commands, so please refer to the
          <a href="https://colosseum.website/wiki/colosseum_games/">games</a>
          wiki page and pick one for a complete protocol documentation. An
          alternative up-to-date list is also available
          <a href="{% url 'games' %}">here</a>.
        </p>
      </div>

      <div class="col-sm">
        <div class="row">
          <div class="col"><hr></div>
          <div class="col-auto">
            Stats
          </div>
          <div class="col"><hr></div>
        </div>

        <p class="lh-sm">
          Active Agents (24h): {{ active_agent_count }} <br>
          Matches (1h): {{ matches_1h }} <br>
          Matches (24h): {{ matches_24h }} <br>
          Open Tournaments: {{ open_tournament_count }} <br>
          Current Season: {{ current_season_name }} <br>
          Pending Matches: {{ pending_matches }} <br>
          Oldest Pending Match Age: {{ oldest_pending_match_age }}
        </p>
      </div>
    </div>
  </div>

</div>

{% endblock %}
